


    body {
        font-family: 'Open Sans', sans-serif;
        background-color: #F0F0F0;
        color: #333333; 
    
    }

    header{
      position: relative;
      z-index: 10;

    }
    section::before {
      content: "";
      display: block;
      height: 100px; 
      margin-top: -100px; 
      visibility: hidden;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    
      .hero-content {
        flex: 1;
      }
     
    #hero{
   
        background-repeat: no-repeat;
        background-size: cover;
   
    }
    .profile{
        width:300px;
        height: 300px;
        border-radius: 50%;
        
    }

    
    .jumbotron {
        background-color: #0043A4;
        color: #FFFFFF;
        padding: 100px 0;
        text-align: left;
        width: 100%;
        
    }
    
    .hero-title span {
        color: #66ff00;
    }
    
    .hero-cta .cta-btn--hero {
        background-color: #FFB400;
        color: #0043A4;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
        text-decoration: none;
    }
    
    .section-title {
        color: #0043A4;
        margin-bottom: 20px;
    }
  

    .about-wrapper__image img {
        max-width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }
    
    .about-wrapper__info {
        background-color: #FFFFFF;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    }
    
    .cta-btn--resume {
        
        color: #0026ff;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
        text-decoration: none;
    }
    
    .project-wrapper__text-title {
        color: #000000;
    }
    .project-wrapper__image{

    width: 50%;
    height:50%;
   
    }
    
    .thumbnail {
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .contact-wrapper__text {
        font-size: 18px;
   
    }
    
    .footer {
        background-color: #333333;
        color: #FFFFFF;
        padding: 20px 0;
        text-align: center;
    }
    
    .social-links a {
        color: #FFFFFF;
        margin: 0 10px;
        font-size: 20px;
        text-decoration: none;
    }
    
    .social-links a:hover {
        color: #FFB400;
    }
    
    .footer__text a {
        color: #FFB400;
        text-decoration: none;
    }
    
    .socialmedia {
    list-style-type: none;
    display: flex;
    margin: 10px;
 
    text-align: center;
    justify-content: center;
    }
     
    .socialmedia li {
        list-style-type: none;
        display: flex;
  
        padding: 30px;
        }
    .socialmedia img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }
    .infocontent{
        display: flex;
        align-items: center;
    }

    .info{
        list-style-type: none;
        padding: 10px;
        margin: 20px;
        display: flex;
       
    
    }
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
padding: 10px;
}
.contact-wrapper__text img {
    padding: 10px;
}
.contact-wrapper__text  {
    padding: 10px;
    margin: 10px;
}
#navbar{
  position: fixed;
  top:0;
  width: 100%;
  height: 90px;
 background: linear-gradient(90deg, rgb(189, 255, 9),rgb(250, 0, 62));
}
#navbar nav{
  
  width: 100%;
  justify-content:space-evenly;
  display: flex;
  margin-top:20px;
}
#navbar ul{
  
list-style-type: none;
margin: 0;
padding: 0;
font-family:  sans-serif;
font-size: 30px;

}
#navbar li {
  display: inline;
  padding: 10px;
  justify-content: center;
  align-items: center;



}
#navbar a{
  color: rgb(255, 255, 255);
  text-decoration:none;
  transition: font-size 0.3s ease-in-out;
}
#navbar a:hover{
color: black;
font-size: 1.2em;
}

.projectsimg{
  transform: scale(0.8);
  transition: ease-in;
   }
.projectsimg:hover{
transform: scale(1.0);
transition:ease-out;
}



@media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
  #navbar ul{
    font-size: 17px;
  }
  #navbar nav{

margin-top: 35px;
  
  }
  #navbar a:hover{
    color: black;
    font-size: 1.2em;
    }
    
    h4{
      font-size: 14px;
    }
  
    .jumbotron {
      padding: 2rem 1rem;
      
    }
    #hero{
      padding-top: 100px; 
    }
  
    .hero-title {
      font-size: 24px;
    }
  
    .hero-title span {
      font-size: 26px;
    }
  
    .hero-cta {
      margin-top: 1rem;
    }
  
    .profile {
      width: 50%;
      margin: auto;
    
      height: auto;
    }
  
    .about-wrapper {
      flex-direction: column;
    }
  
    .about-wrapper__image,
    .about-wrapper__info {
      margin-bottom: 1rem;
    }
  
    .about-wrapper__image img {
      width: 100%;
      height: auto;
    
    }
  
    .about-wrapper__info-text {
      font-size: 14px;
    }
  
    .project-wrapper__text-title {
      font-size: 20px;
    }
  
    .project-wrapper__text {
      text-align: center;
      margin-bottom: 1rem;
    }
  
    .project-wrapper__image {
      margin-bottom: 1rem;      
    }
  
    .contact-wrapper {
      text-align: center;
    }
  
    .contact-wrapper__text {
      font-size: 14px;
    }
  
    .socialmedia {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .socialmedia div {
      margin-bottom: 1rem;
    }
   
  
    .footer__text {
      font-size: 14px;
      text-align: center;
    }
 

  }

  
  